/* Color Theme Swatches in Hex */
$prim-red: #D90416;
$item: #F2B705;
$button-add: #FFA705;
$button: #13037A;
$bg: #F2F2F2;
$dark-bg: #044F8C;
$font: white;
$button-hover: #13037A80;
$button-add-hover: #FF8A05;